<%= @party.name %>
<%= @party.theme.name %>
<%= @party.capacity %>
Guests/ hosts
<ul class = "guest_list">
<% if !@party.guests.blank? %>
<% @party.guests.each do |guest|%>
    <li> <%=guest.name %> </li>
  <% end %>
<% end %>
</ul>