<div class="homepage">
  
   <h1>Hello and welcome to the Party Advisor. </h1>
   
   <p>It's post CoVid, and what do you want to do? Go outside. That's right, it's hot vax summer, and this app will help keep you in the loop of the latest parties. </p>
   
   <p>Love to dress up? Love the drama and to show off? Live in Brooklyn? Then this is the app for you. </p>
 
   <p>You have the option to sign up as either a party host, or create an account as an attendee. You and other guests of a party will have the option to purchase tickets and RSVP to an event.</p> 
  
   <p>Let's hope you're good at coming up with outfit ideas, because these parties all have a unique theme. This is all done in the spirit of DIY, along with talented DJs that are booked for each party. </p>
  
   <p>This is a safe community, and hate of any kind will not be tolerated.<p>
  
  
  <div id="login"> 
  <p>
    Please <%= link_to "log in", "/login" %> or <%= link_to "create an account", new_user_path %> with us:
  </p>
  </div>

</div>