/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  body {
    background-color: #FFFAFA;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:center;
  }

  #body_of_site{
    max-width: 600px;
    margin: auto;
  }

  .homepage {
    text-align: left;
  }

  ul {
    list-style-type: none;
    border:2px solid #ccc;
    padding: 10px;
  }

  .guest_list {
    text-align: center;
    display: block;
    margin-left: 30%;
    margin-right: 30%; 
    
  }

  .navbar {
    display: block;
    width: 150px;
    line-height: 75px; 
    white-space: nowrap; 

  }

  .navbar ul {
    background-color:#fcbeb4;
    float:left;
    border: none;
    padding: 10px;
  }
  
  .navbar li a {
    display: block;
    color: #000;
    padding: 5px 15px;
    text-decoration: none;
  }

  .navbar li a:hover {
    color: white;
  }

  input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  input[type=password] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  input[type=submit] {
    padding:5px 15px; 
    background: none; 
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
  }

  input:hover[type="submit"] {
    background:  #ccc; 
  }

 .field_with_errors input {
    border: 1px solid red !important;
  }

  .errors {
    color: red;
    font-weight: bold;
    /* padding: .75rem 1.25rem;
    margin-bottom: 1rem; */
    /* border: 1px solid transparent;
    border-radius: .25rem; */
  }

  .rsvp-field{
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .rsvp-field input[type=submit] {
    border:3px solid #f69383;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align:center;
  }

  .list_of_comments {
    text-align: left;
    display: block;
    margin-left: 30%;
    margin-right: 30%; 
    background-color: white;
  }

  textarea {
    width: 600px;
	  height: 120px;
	  border: 3px solid #cccccc;
	  padding: 5px;
  }

  .new_user, .new_party { text-align:left; }