<div class="navbar">

 <%= image_tag "", class: "site-logo"%>
  <nav>
    <ul class= nav> 
      <li><%= link_to "Main Page", "/" %></li>
      <li><%= link_to "List of Parties", parties_path %></li>
      <li><%=link_to "Logout", logout_path %></li>
  
    </ul>
  </nav>
</div>